In [1]:
import pandas as pd

df = pd.read_csv('producao_dados.csv', sep=';') # Lê o arquivo CSV com separador ";"

In [2]:
df.head()   # Mostra as 5 primeiras linhas do DataFrame

   id_peca  temperatura  diametro avaliacao_qualidade
0        1         25.5      5.01            aprovado
1        2         26.1      5.03            aprovado
2        3         24.9      4.98            aprovado
3        4         26.5      5.05            aprovado
4        5         23.8      5.10           reprovado

In [3]:
df.info()   # Mostra informações sobre o DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_peca              10 non-null     int64
 1   temperatura          10 non-null     float64
 2   diametro             10 non-null     float64
 3   avaliacao_qualidade  10 non-null     object
dtypes: float64(2), int64(1), object(1)
memory usage: 452.0+ bytes